@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-primary: rgba(194, 239, 212, 1);
  --color-primary: rgba(34, 79, 52, 1);
  --color-secondary: rgba(38, 125, 73, 1);
  --color-text-base-primary:rgba(55, 55, 55, 1);
  --color-text-base-secondary:rgba(69, 69, 69, 1);
}

